body {
	color: #333333;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

.box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	padding: 20px;
	text-align: left;
}

.card img {
	border: 1px solid #dddddd;
	width: 100%;
	height: auto;
}

@media screen and (min-width: 800px) {
	.card {
		flex: 1
	}
}

.footer {
	height: 40px;
	background: #f0f5f5;
	padding: 5px;
}

.fab {
	border: 0;
}