body {
	color: #333333;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

.w3-row-padding {
	margin-bottom: 3em;
}

.w3-row-padding img {
	margin-bottom: 12px
}

.w3-third img {
	width: 100%;
}

.footer {
	height: 40px;
	background: #f0f5f5;
	padding: 5px;
	text-align: center;
}

.fab {
	border: 0;
}